:root {
  --maincolor: red;
  --backcolor: #111;
  --textcolor: #ccc;
  --iluminated: #7898cc;
  --border: #444;

  --disabled: grey;
  --disabledText: darkgrey;

  --ligthcolor: #ccc;
  --lightback: #333;
}