.addImg {
  max-height: 21em;

  .imgList {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-height: 19em;
    overflow-y: scroll;

    img {
      max-height: 17em;
      width: auto;
      margin-left: 0.5em;
    }
  }
}

.warning {
  display: none;
  color: red;
  font-size: 1.4em;
  font-weight: bold;
}