
div{
  display: flex;
  justify-content: center;
  flex-direction: column;

  border: #393E46;

}
h1{
  justify-content: center;
}
.container{
  margin-top: 15%;
  margin-left: 35%;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  width: 30%;
  height: 40%;
  border-radius: 30px;
  box-shadow: 2px 2px 100px 6px #00adb5;
}