@use "variables" as *;

.title{
  width: 100%;
  border-bottom-color: #666666;

}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;

  h1{
    font-size: 6em;
    font-weight: bold;
    color: #00adb5;
    margin: 0;
    padding: 0;
  }



  .container{

    border: 2px solid grey;
    height: 350px;

    border-radius: 30px;
    box-shadow: 2px 2px 100px 6px #00adb5;
    align-items: center;

  }

}

form{
  margin-left: 10px;
  margin-top: 10px;
}
input{
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
