section {
  position: relative;

  .container {
    min-width: fit-content;
    min-height: fit-content;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 2px 2px 100px 6px #00adb5;
    border-radius: 30px;
  }
}