@use 'variables' as *;

.container{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 15px;
  background-color: $secondcolor;
  border-radius: 10px;

  .header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: $maincolor;
    border-radius: 10px;

    *{
      display: flex;
      flex-direction: row;
    }
    .title{
      justify-content: space-between;
    }
    .subtitle{
      justify-content: space-between;
    }
  }

  .content{
    margin: 10px;
  }
}